<div class="footer">
<h4>Our Social Media</h4>
    <div class="Icons">
   <div><img src="../../assets/facebook.jpg" height="25"alt="facebook"><br>Facebook</div>
   <div><img src="../../assets/Instagram.jpg" height="25" alt="Instagram"><br>Instagram</div>

   <div><img src="../../assets/Linkdn.png" height="25" alt="Linkdn"><br>Linkdn</div>
   <div><img src="../../assets/twitter.jpg" height="25" alt="twitter"><br>Twitter</div>
    </div>
<app-subcribe></app-subcribe>
<app-register></app-register>
<app-company></app-company>
<app-quick-links></app-quick-links>
</div>