.footer{

    bottom: 0;
    height: 50vh;
    background-color: black;
    width: 100%;

}

.Icons {
    display:right;
    margin-left: 3%;
    color: whitesmoke;
}

h4{
    color: brown;
}

h4:hover{
    color: cyan;
}

h6{
    float: right;
}