#team{
    float: right;
    margin-top: -14%;
}

#button{
    margin-left: 15%;
}
button{
    background-color: grey;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 28px;
    border-radius: 40px;
    float: left;
    height: 10px;
  }

  p{
    color: goldenrod;
    font-weight: 1000;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h2{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
  }
   
  h2:hover{
    color: darkgoldenrod;
  }
  
  .about {
    height: 70vh;
    width: 100%;
  }