<div class="about">
    <div id="about">
        <h2>{{about}}</h2><hr>
    </div>
    <div class="bout">
        <p>We’re a curious lot of thinkers, makers, and problem<br> solvers.</p><br><br>
        <p>We learn from each other every day.
        </p><br>
        <div id="button">
        <button (click)="moreContent()">Read More</button><br>
        <h3 *ngIf="showContent">Silicon-Tech Company, located<br> in Western parts of Nairobi in <br>Kenya, is home to many start-up and <br>global technology companies. <br>Tik tok, Twitter and linkdn <br>are among the most prominent.<br> It’s also the site of <br>technology-focused institutions <br>centered around Chiromo area,<br> Nairobi University.<br> The Computer History Museum and<br> NASA’s Ames Research Center are in Westlands.<br> The Tech Museum of Innovation is<br> in San Jose<br>
            <button (click)="moreContent()">Read Less</button>
        </h3>
       </div>
      
    </div>
        <div id="team"><img src="../../assets/team.jpg" alt="team" width="900" height="350"></div><br>
  
</div>

