
 *{
     margin: 0;
     padding: 0;
     text-decoration: none;
 }

 body{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 nav{
     position: fixed;
     height: 100px;
     width: 100%;
     background: blue;
 }

 nav .logo{
     font-size: 35px;
     color: white;
     font-weight: bold;
     line-height: 80px;
     padding-left: 100px;
 }

 nav ul{
     float: right;
     margin-right: 50px;
 }

 nav ul li{
     list-style: none;
     display: inline-block;
     margin: 0 20px;
     line-height: 80px;
 }

 nav ul li a{
     color: #d8d6f5;
     font-size: 20px;
     font-weight: 600;
 }

 li a:hover{
     color: #786edd;
     transition: .5s;
 }