
<div class="container">
    <div id="contact"><h2>{{contact}}</h2><hr></div>
    <form [formGroup]="contactForm">
      <h3>GET IN TOUCH</h3>
      <div class="form-group">
        <label for="name">Name</label><br>
      <input type="text" name="name" id="name" formControlName="name" placeholder="Your name" required><br><br>
      <span class="error">Name is required</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label><br>
      <input type="email" name="email" id="email" formControlName="email" placeholder="Your email" required><br><br>
      <span class="error">Email is required</span>
      </div>
      <div class="form-group">
        <label for="phone number">Phone.no</label><br>
      <input type="number" name="number" id="phone" formControlName="number" placeholder="Phone.no" required><br><br>
      <span class="error">Phone.no is required</span>
      </div>
      <div class="form-group">
      <textarea  type="text" id="message" rows="5" cols="20" placeholder="How can we help you?"></textarea><br><br>
      </div>
      <!-- <input type="button" id="send" value="Send"> -->
      <button type="submit" width="70px">Send</button>
    </form>
 </div>
 <app-company></app-company>