<div class="rate">
    <div id="rate">
    

   <div class="head">
    <h3>{{title}}</h3>
   </div>
   <div *ngIf="showViews">
   <ul *ngFor="let user of users">
       <li>
       <div>{{user.name}}</div>
       <div>{{user.age}}</div>
       <div>{{user.occupation}}</div>
       <div>{{user.date|date:'short'}}</div>
       </li>
    </ul>
    
    </div>
    <button type="view" (click)="view()">View/Close Downvote</button>
    <div class="add">
       
      Name:  <input type="text" [(ngModel)]="name" placeholder="type your name"><br><br>
       Age: <input type="number" [(ngModel)]="age" placeholder="type your age"><br><br>
       Occupation:<input type="text" [(ngModel)]="occupation" placeholder="type your occupation"><br>
       Date:<input type="date" placeholder="date" [(ngModel)]="date" placeholder="date"><br>
        <div class="button">
            <button type="submit" (click)="addUsers()" (click)="counter('add')">dislike</button>
            <button type="menu" (click)="counter('minus')">Delete Downvotes</button>
            <h1>Downvote:{{count}}</h1>
          </div>  
    </div>
</div>


