.rate{
    float: right;
    margin-top: -36%;
}

h2{
    margin-top: 6%;
    align-content: center;
    text-align: center;
}

.add{
    background-color: blanchedalmond;
    padding: 2rem;
    margin: 2rem;
    max-width: 60%;
}

#cards{
    float: right;
    margin-top: -30%;
}

.adds{
    background-color: blanchedalmond;
    padding: 2rem;
    margin: 2rem;
    max-width: 100%;
    /* float: right; */
    
}