.rate{
    height: 80vh;
    background-color: green;
    top: 0pt;
}

h2{
    margin-top: 6%;
    align-content: center;
    text-align: center;
}

.add{
    background-color: blanchedalmond;
    padding: 2rem;
    margin: 2rem;
    max-width: 30%;
}

#cards{
    float: right;
    margin-top: -30%;
}

.adds{
    background-color: blanchedalmond;
    padding: 2rem;
    margin: 2rem;
    max-width: 80%;
    float: right;
    
}

button{
    color: green;
}

button[type=view] {
    background-color: orange;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
  }

  button[type=submit] {
    background-color: green;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
  }

  button[type=reset] {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
  }

  .button button{
      gap: 2px;
  }