<div class="rate">
    <div id="rate">
    <h2>Rate Us</h2>

   <div class="head">
    <h3>{{title}}</h3>
   </div>
   <div id="show" *ngIf="showViews">
   <ul *ngFor="let user of users">
       <li>
       <div>{{user.name}}</div>
       <div>{{user.age}}</div>
       <div>{{user.occupation}}</div>
       </li>
   </ul>
   <button (click)="counter('minus')" (click)="removeUsers">Delete Upvote</button>
    </div>
   <button (click)="view()">View/Close Upvotes</button>
    <div class="add">
    <div><img src="../../assets/happy.jpg"  height="60" width="60" alt="happy"></div>
      Name:  <input type="text" [(ngModel)]="name" placeholder="type your name"><br><br>
       Age: <input type="number" [(ngModel)]="age" placeholder="type your age"><br><br>
       Occupation:<input type="text" [(ngModel)]="occupation" placeholder="type your occupation">
        <div class="button">
            <button (click)="addUsers()" (click)="counter('add')">Like</button>
            <h1>Upvotes:{{count}}</h1>
          </div>  
    </div>
    <app-downvote></app-downvote>
</div>
